body{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%) ;
}

.word-counter-container {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.word-counter-container h2 {
    font-size: 42px;
}

.word-counter-container textarea {
    display: block;
    width: 80%;
    height: 300px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    resize: none;
    max-height: 800px;
    line-height: 2;
    margin: 0 auto;
}

.word-counter-container .count-btn {
    padding: 16px 48px;
    margin: 32px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #14213d;
    color: white;
    border: none;
    border-radius: 8px;
    transition: all 500ms ease;
}

.word-counter-container .count-btn:hover {
    background-color: #011e29;
}

.word-counter-container .word-count {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.word-counter-container .word-count span {
    font-size: 50px;
    font-weight: bold;
}